<div class="container mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-9 show-container">
        <div class="row">
          <div class="col-12">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, crop: :fill, class: "profile-picture" %>
            <% end %>
            <h1 class="show-h1"><%= @user.first_name %> <%= @user.last_name %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 show-p">
              <div class="p-2">
                <% if @user.hobbit %>
                <h3 class="m-3"><i class="fa-solid fa-user"></i> Hobbit</h3>
                <% end %>
                <h2 class="mt-4 review-h">Reviews:</h2>

                <% @user.reviews_as_receiver.each do |review| %>
                  <div class="review-list">
                    <p><strong>From: <%= "#{review.giver.first_name} #{review.giver.last_name.chr}." %></strong> </p>
                    <p class="show-p">Content: <%= review.content %></p>
                    <p>Rating: <%= review.rating %></p>
                  </div>
                <% end %>
              </div>
          </div>
        </div>

        <%= link_to "Edit profile", edit_user_registration_path, class: "button-normal button-normal-a" %>
      </div>
  </div>
</div>
