<div class="container mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-9 show-container">
        <div class="row">
          <div class="col-12">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <h1 class="show-h1"><%= @user.first_name %> <%= @user.last_name %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 show-p">
              <div class="p-2">
                <% if @user.hobbit %>
                  <h2>Hobbit</h2>
                <% end %>
                <h2>Reviews:</h2>

                <% @user.reviews_as_receiver.each do |review| %>
                  <div class="review">
                    From: <%= "#{review.giver.first_name} #{review.giver.last_name.chr}." %>
                    Content: <%= review.content %>
                    Rating: <%= review.rating %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>

        <%= link_to "Edit profile", edit_user_registration_path, class: "button-normal" %>

        <%# This is the map  %>
        <div class="row">
          <div class="col">
            <div class="card mt-3">
              <p class="map-p"> 📍 Shire</p>
              <img src="https://lotro.gamepressure.com/gfx/228474889.jpg" alt="map of Shire">
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
