<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><%= image_tag 'icons/magician-icon-one', height:50 %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item dropright">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Log
          </a>
          <ul class="dropdown-menu dropright"  aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Sign-out", destroy_user_session_path, data: {turbo_method: :delete}, class:"dropdown-item" %>
            <% else %>
              <%= link_to "Sign-in", new_user_session_path, class:"dropdown-item" %>
              <%= link_to "Sign-up", new_user_registration_path, class:"dropdown-item" %>
            <% end %>
          </ul>
        </li>
      </ul>
          <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Create an Offer", root_path, class:"nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Offers", new_offer_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
