<%= simple_form_for([offer, reservation], url: form_url, data: { "controller": "total-price flatpickr" }) do |form| %>
  <%= form.input :start_date, as: :string, html5: true, input_html: { min: Date.today, data: {"total-price-target": "start", "action": "total-price#calc", flatpickr_target: 'input' } } %>
  <%= form.input :end_date, as: :string, html5: true, input_html: { min: Date.tomorrow, data: {"total-price-target": "end", "action": "total-price#calc", flatpickr_target: 'input' }} %>
  <span>Price per day: </span><span data-total-price-target="daily"><%= @offer.price %></span>
  <span>Total price: </span><span data-total-price-target="total"><%= @reservation.total_price or 0 %></span>
  <%= form.button :submit, class: "btn btn-outline-primary" %>
<% end %>
