<div class="container">
  <div class="dropend">
    <button class="dropdown-toggle edit" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter By
    </button>
    <ul class="dropdown-menu form">
          <ul class='list-group list-group-horizontal'>
            <%= form_with url: offers_path, method: :get do |f| %>
              <li class="list-group-item" data-controller="filter">
                <%= f.label :offer_price, "Max Price :" %> <span class="filter-price" data-filter-target="value">0 </span><i class="fa-solid fa-coins filter-price"></i>
                <br>
                <%= f.range_field :offer_price, in: 0..1000, step: 50, data: {filter_target: "price", action: "filter#display"}%>
              </li>
              <li class="list-group-item">
                <%= f.label :offer_location, "Location " %> <i class="fa-solid fa-map"></i>
                <br>
                <%= f.collection_select :offer_location, Offer.all, :location, :location, :include_blank => true  %>
              </li>
              <li class="list-group-item">
                <%= f.submit "Apply Filter", class:"edit" %> <%= link_to "Remove Filter", offers_path, class:"edit" %>
              </li>
            <% end %>
          </ul>
    </ul>
  </div>
  <div class="row index-title mx-auto mb-5 pt-3">
    <div class="col-sm-12">
      <% if @reservations.empty? %>
        <div class="container">
          <div class="row mx-auto">
            <p class="no-reservation">No Reservations Yet</p>
            <%= image_tag ('no-picture.gif') %>
          </div>
        </div>
      <% else %>
        <div class="row mx-auto reservation-index">
          <h1>Your Reservations</h1>
          <h2><em>Total Price: <%= @reservations.sum(:total_price) %></em></h2>
        </div>
          <% @reservations.each do |reservation| %>
          <div class="reservation-list">
            <div class="card">
              <%= render partial: "reservation", locals: { offer: reservation.offer, reservation: reservation } %>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
