<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<div><%= render partial: "reservation", locals: { reservation: @reservation } %></div>
<%= link_to "Leave a review ", new_reservation_review_path(@reservation) if !current_user.reviewed?(@reservation) %>
<div>
  Reviews:
  <% @reservation.reviews.each do |review| %>
  <div>
    From: <%= "#{review.giver.first_name} #{review.giver.last_name.chr}." %>
    Content: <%= review.content %>
    Rating: <%= review.rating %>
  </div>
  <% end %>
</div>
