<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<div><%= render partial: "reservation", locals: { reservation: @reservation } %></div>
<%= link_to "Leave a review ", new_reservation_review_path(@reservation) if !current_user.reviewed?(@reservation) and @reservation.over? and @reservation.accepted? %>
<div data-controller="insert-in-list">
  <div class="reviews" data-insert-in-list-target="items">
  <%= @reservation.reviews.empty? ? "No reviews yet" : "Reviews:" %>
    <% @reservation.reviews.each do |review| %>
    <div class="review">
      <%= render partial: "reviews/review", locals: {review: review} %>
    </div>
    <% end %>
  </div>
  <% if !current_user.reviewed?(@reservation) and @reservation.over? %>
      <%= render partial: "reviews/form", locals: { reservation: @reservation, review: @review } %>
    <% end %>
</div>
