<div class="row index-title mx-auto mb-5 pt-3">
  <div class="col-sm-12">
    <h1>Choose your Hobbit !</h1>
  </div>
</div>
<%= form_with do |f| %>
Filter by :
  Price <%= f.number_field :offer_price, in: 0..1000, step: 10%>
  Location <%= f.collection_select :offer_location, Offer.order(:location), :id, :location  %>
<% end %>

<div class="row">
  <% @offers.each do |offer| %>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card mx-auto my-2" style="width: 300px; overflow: hidden;">
        <div class="picture row align-items-center">
          <% if !offer.photos.empty? %>
            <%= cl_image_tag offer.photos[0].key%>
          <% else %>
            <%= image_tag ('no-picture.gif') %>
            <p>No pictures found</p>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-title pb-2">
            <%= link_to "#{offer.user[:first_name]} #{offer.user[:last_name]}", offer_path(offer) %>
          </div>
          <div>
            <div>
              📍 <%= offer.location %>
            </div>
            <div>
              💰 <%= offer.price %> golds / per day
            </div>
          </div>
          <div class="summary mt-1 pt-1">
            <em><%= offer.summary[0,50] %>...</em>
          </div>
        </div>
    </div>
</div>
<% end %>
