<div class="row index-title mx-auto mb-5 pt-3">
  <div class="col-sm-12">
    <h1>Choose your Hobbit !</h1>
  </div>
</div>

<div class="dropend">
    <button class="dropdown-toggle edit" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter By
    </button>
    <ul class="dropdown-menu form dropdown-elements">
      <ul class='list-group list-group-horizontal'>
          <%= form_with url: offers_path, method: :get do |f| %>
        <div class="dropdrop">
            <li class="list-group-item" data-controller="filter">
              <%= f.label :offer_price, "Max Price :" %> <span class="filter-price" data-filter-target="value">0 </span><i class="fa-solid fa-coins filter-price"></i>
              <br>
              <%= f.range_field :offer_price, in: 0..1000, step: 50, data: {filter_target: "price", action: "filter#display"}%>
            </li>
            <li class="list-group-item">
              <%= f.label :offer_location, "Location " %> <i class="fa-solid fa-map"></i>
              <br>
              <%= f.collection_select :offer_location, Offer.all, :location, :location, :include_blank => true  %>
            </li>
            <li class="list-group-item">
              <%= f.submit "Apply Filter", class:"edit", id:"no-margin" %> <%= link_to "Remove Filter", offers_path, class:"edit", id:"no-margin" %>
            </li>
          <% end %>
        </div>
      </ul>
    </ul>
</div>


<%if @offers == [] %>
  <div class="container">
    <p class="no-reservation">No results found</p>
  </div>
<% else %>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card mx-auto my-2" style="width: 300px; overflow: hidden;">
          <div class="picture row align-items-center">
            <% if !offer.photos.empty? %>
              <%= cl_image_tag offer.photos[0].key%>
            <% else %>
              <%= image_tag ('no-picture.gif') %>
              <p>No pictures found</p>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-title pb-2">
              <%= link_to "#{offer.user[:first_name]} #{offer.user[:last_name]}", offer_path(offer) %>
            </div>
            <div>
              <div>
                <i class="fa-solid fa-map"></i> <%= offer.location %>
              </div>
              <div>
                <i class="fa-solid fa-coins"></i> <%= offer.price %> golds per day
              </div>
              <div>
                <% if offer.user.reviews_as_receiver.average(:rating) %>
                  <% offer.user.reviews_as_receiver.average(:rating).truncate.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                  <% (5 - offer.user.reviews_as_receiver.average(:rating).truncate).times do %>
                    <i class="fa-solid fa-star empty"></i>
                  <% end %>
                <% else %>
                  <p>No rating yet</p>
                <% end %>
              </div>
            </div>
            <div class="summary mt-1 pt-1">
              <em><%= offer.summary[0,50] %>...</em>
            </div>
          </div>
      </div>
  </div>
  <% end %>
<% end %>
