<p>
<%= @offer.localisation %>

<%= @offer.price %>

<%= @offer.summary %>
<%# <%= @offer.users.email %>

</p>

<%= link_to "Edit this offer", edit_offer_path(@offer) %>
<p><%= link_to "Delete this offer", offers_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
