<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 show-container">
      <div>
        <% if !@offer.photos.empty? %>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% @offer.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <div class="d-flex justify-content-center w-100 background-beige"><%= cl_image_tag photo.key, height: 500, class: "carousel-photo" %></div>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      </div>
    <div class="row">
      <div class="col-12">
        <h1 class="show-h1"><%= @offer.user.first_name %> <%= @offer.user.last_name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 show-p">
          <div class="p-2">
            <p>Average rating: <%= @offer.user.reviews_as_receiver.average(:rating) %>/5</p>
            <p> <i class="fa-solid fa-coins"></i> <%= @offer.price %> golds / day</p>
            <p><%= @offer.summary %></p>
            <div class="d-flex">
              <% if  @user == @offer.user %>
                <%= link_to "Edit this offer", edit_offer_path(@offer), class: "button-normal" %>
                <%= link_to "Delete this offer", offer_path(@offer),  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"},
                class: "button-normal" %>
              <% else %>
                <% if !current_user&.hobbit %>
                  <%= link_to "Reserve", new_offer_reservation_path(@offer), class: "button-normal" %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mt-3">
          <p class="map-p"> <i class="fa-solid fa-map"></i> <%= @offer.location %></p>
          <img src="https://lotro.gamepressure.com/gfx/228474889.jpg" alt="map of Shire">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
